/*
---01 TYPOGRAPHY SYSTEM:
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #12823b, #73c892);
}
header {
  margin: 0 auto;
  margin-top: 4vw;
}
.header {
  background-color: #f8fafc;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-radius: 11px 11px 0 0;
}
.main-body {
  margin: 0 auto;
  /* min-height: 80vh; */
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  width: 90%;
  margin-bottom: 6.4rem;
}

.company-name {
  padding-left: 3.2rem;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.1px;
  align-self: center;
}
.add-workout {
  font-size: 2rem;
  font-weight: 700;
}
.button-add {
  margin-right: 3.2rem;
  /* border: 1px solid; */
  padding: 1.6rem 1.6rem;
  border-radius: 11px;
  background-color: #16a34a;
  color: #fff;
}
.workout-list {
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  overflow-x: hidden;
  border-radius: 0 0 0 11px;
  min-height: 80vh;
}
.workout-display {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 11px 0;
}
.workout-preview {
  text-decoration: none;
  color: #000;
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  /* border: 1px solid; */
  width: 100%;
  height: 8rem;
  /* border: 2px solid #eee; */
  /* border-radius: 11px; */
  /* padding: 0 1.2rem; */
}
.workout-preview:hover {
  box-shadow: inset 2px 2px 1px rgb(22, 163, 74, 0.5);
  background-color: #fff;
  transform: scale(1.075);
  transition: 0.3s;
}
.workout-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-right: 12.8rem;
}
.img-container {
  width: 7rem;
  height: 7rem;
  /* border: 1px solid; */
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  margin-left: 3.2rem;
}

.img {
  width: 100%;
  height: 100%;
}
.workout-title {
  font-size: 1.6rem;
  font-weight: 500;
}
.workout-focus {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
}
/* Form */

.exercise {
  display: flex;
  gap: 1.6rem;
  padding-left: 3.2rem;
  padding-top: 3.2rem;
}

.set {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.exercise-name {
  border: none;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 9px;
  transition: all 0.3s ease-in;
}
.exercise-name:focus {
  background-color: #eee;
  border: 1px solid #16a34a;
}
.input-exercise {
  display: block;
  width: 9.5rem;
  border: none;
  width: 5rem;
}
.unit {
  border: none;
  outline: none;
  border-radius: 9px;
}

.exercise-weight {
  display: flex;
}
.weight {
  width: 5rem;
}
.workout-name {
  width: 25rem;
  justify-self: center;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 9px;
  transition: all 0.3s ease-in;
  font-size: 2.4rem;
  position: relative;
}
.workout-name:focus {
  background-color: #eee;
  border: 1px solid #16a34a;
}
/* Temporary */
.workout-form {
  padding-top: 4.8rem;
  display: grid;
  grid-template-columns: 1fr;
}
.input-container {
  display: flex;
  gap: 0.8rem;
}
.label-name {
  font-size: 1.2rem;
  font-weight: 700;
}
.sets-separator-line {
  /* width: 100%; */
  border: 1px solid #ccc;
}
.separator {
  margin-top: 2.4rem;
}
.exercise-separator-line {
  margin-top: 0.4rem;
  border: 0.25px solid #ccc;
  margin-bottom: 0.4rem;
}
.img-button-container {
  width: 2.4rem;
  height: 2.4rem;
}
.sets-plus {
  margin-right: -1.2rem;
}
.sets-minus {
  margin-left: -1.2rem;
}
.exercise-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.exercise-sets {
  margin-top: 4.8rem;
  padding-left: 3.2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 15rem);
}
.exercise-set {
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border: 1px solid #73c892;
  font-size: 1.2rem;
}
.exercise-set-name {
  font-size: 1.6rem;
  grid-column: 1/2;
}
.submit-button {
  margin: 0 auto;
  padding: 1.4rem 2rem;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #16a34a;
  border-radius: 11px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.edit-icon {
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  right: 7.5%;
  top: 3rem;
  fill: #0f7234;
}
.trash-icon {
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  right: 3%;
  top: 3.05rem;
  fill: #0f7234;
}
.exercise-focus {
  position: absolute;
  top: 4rem;
  font-size: 1.6rem;

  left: 3.2rem;
  color: #555;
}
.workout-focus-input {
  position: absolute;
  top: 5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  left: 3.2rem;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 9px;
  transition: all 0.3s ease-in;
}
.workout-focus-input:focus {
  background-color: #eee;
  border: 1px solid #16a34a;
}
.set-number {
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 2px solid #16a34a;
  width: 100%;
  padding: 0.2rem;
}

.detail-padding {
  padding: 0 0.4rem;
}
.detail-padding:last-child {
  padding-bottom: 0.4rem;
}
.img-logo {
  width: 6.4rem;
  height: 6.4rem;
}
.company-details {
  display: flex;
  align-content: space-between;
  padding-left: 3.2rem;
}
